.checkout-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

/* ADDRESS */
.address {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
}

.address h2 {
  margin-bottom: 16px;
}

.address input,
.address textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* SUMMARY */
.summary {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  height: fit-content;
}

.summary h2 {
  margin-bottom: 16px;
}

#orderItems p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#placeOrderBtn {
  width: 100%;
  margin-top: 16px;
  padding: 14px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
