.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.nav-links a {
  margin-left: 32px;
  font-weight: 500;
}
